In [1]:
import pandas as pd
dataset = pd.read_csv("https://data.stadt-zuerich.ch/dataset/a9febb98-23dd-4438-95c6-9cad417d0291/resource/a90b0184-c809-48b4-87ca-91e5811da885/download/bev325od3250.csv")

In [2]:
print(dataset.head())

   StichtagDatJahr  StichtagDatMM StichtagDatMonat  StichtagDat  SexCd  \
0             1998              1           Januar        13910      1
1             1998              1           Januar        13910      1
2             1998              1           Januar        13910      1
3             1998              1           Januar        13910      1
4             1998              1           Januar        13910      1

    SexLang  AlterV20Sort AlterV20Kurz  HerkunftCd  HerkunftLang  KreisCd  \
0  männlich             1         0-19           1  Schweizer/in        1
1  männlich             1         0-19           1  Schweizer/in        1
2  männlich             1         0-19           1  Schweizer/in        1
3  männlich             1         0-19           1  Schweizer/in        1
4  männlich             1         0-19           1  Schweizer/in        2

  KreisLang  QuarCd     QuarLang DatenstandCd  DatenstandLang  AnzBestWir
0   Kreis 1      11      Rathaus            V  Veröffentlicht         114
1   Kreis 1      12  Hochschulen            V  Veröffentlicht          24
2   Kreis 1      13    Lindenhof            V  Veröffentlicht          37
3   Kreis 1      14         City            V  Veröffentlicht          48
4   Kreis 2      21  Wollishofen            V  Veröffentlicht         950

In [3]:
# fill_value to replace missing values (NaN)
pivdata = dataset.pivot_table(values="AnzBestWir", index="StichtagDatJahr", columns="StichtagDatMM", aggfunc=sum, fill_value="-")
print(pivdata)

StichtagDatMM          1         2         3         4       5       6   \
StichtagDatJahr
1998             359411.0  359707.0  358869.0  360128.0  360537  359879
1999             359989.0  360340.0  359657.0  360845.0  361338  361503
2000             360960.0  361014.0  360096.0  361278.0  361903  361295
2001             361641.0  361974.0  361390.0  362740.0  363366  363172
2002             362744.0  363181.0  362900.0  363721.0  364164  363948
2003             364791.0  365030.0  364592.0  364986.0  365337  364860
2004             364828.0  365260.0  364415.0  365185.0  365518  365421
2005             365695.0  365952.0  365056.0  366143.0  366455  366103
2006             367745.0  367927.0  367215.0  368508.0  369185  368909
2007             371140.0  371588.0  370964.0  372311.0  373034  373262
2008             377715.0  378393.0  377852.0  379103.0  379539  379395
2009             381080.0  381982.0  381383.0  382211.0  382580  382428
2010             383114.0  383539.0  382742.0  383319.0  383828  383497
2011             386091.0  386791.0  386379.0  387320.0  388002  387546
2012             389828.0  390517.0  390021.0  390824.0  391128  391077
2013             394154.0  394850.0  394473.0  395628.0  396140  396043
2014             398433.0  399405.0  399193.0  400105.0  400826  400642
2015             404959.0  405881.0  405565.0  406578.0  407197  407101
2016             410168.0  411144.0  411026.0  412098.0  412573  412256
2017             416461.0  417422.0  417447.0  418343.0  419294  419022
2018             422390.0  423501.0  423414.0  424402.0  425094  425126
2019             428837.0  429842.0  429718.0  430552.0  431395  430848
2020             433923.0  434947.0  434350.0  434034.0       -       -

StichtagDatMM        7       8       9       10      11      12
StichtagDatJahr
1998             359611  359839  358593  360531  360881  359073
1999             361515  361692  360384  362258  362280  360704
2000             361481  361468  360194  362432  362634  360980
2001             362871  363041  362323  364054  363903  362042
2002             363921  364274  363804  365617  365776  364558
2003             364352  364726  364176  365640  365591  364528
2004             364911  365299  364437  366081  366326  364977
2005             366211  366821  366174  368138  368374  366809
2006             369123  369082  368646  370880  371333  370062
2007             373594  374593  375565  377487  378153  376815
2008             379376  380052  380531  381652  381740  380499
2009             382059  382753  383435  383747  384083  382906
2010             383485  384350  385530  386582  386794  385468
2011             387564  388189  389429  390592  391004  390082
2012             391384  391810  393171  394252  394690  394012
2013             395952  396663  397874  398812  399187  398575
2014             400710  401517  403121  404439  405129  404783
2015             407278  408210  409638  410576  410969  410404
2016             412082  412781  414674  415774  416200  415682
2017             419174  419810  421683  422942  423488  423310
2018             425029  425879  427839  429035  429314  428737
2019             430635  431200  433018  434098  434381  434008
2020                  -       -       -       -       -       -

In [4]:
# pivot tables are indexed sorted tables and can be sliced with loc
pivdata.loc["2000":"2009", "3":"6"]

StichtagDatMM           3         4       5       6
StichtagDatJahr
2000             360096.0  361278.0  361903  361295
2001             361390.0  362740.0  363366  363172
2002             362900.0  363721.0  364164  363948
2003             364592.0  364986.0  365337  364860
2004             364415.0  365185.0  365518  365421
2005             365056.0  366143.0  366455  366103
2006             367215.0  368508.0  369185  368909
2007             370964.0  372311.0  373034  373262
2008             377852.0  379103.0  379539  379395
2009             381383.0  382211.0  382580  382428

In [5]:
max_year = dataset["StichtagDatJahr"].max()
print(max_year)

2020

In [6]:
data_year = dataset[dataset["StichtagDatJahr"]==max_year]
max_mon = data_year["StichtagDatMM"].max()
print(max_mon)

4

In [7]:
data_mon = data_year[data_year["StichtagDatMM"]==max_mon]
print(data_mon["AnzBestWir"].sum())

434034

In [8]:
# margin = show totals
data_mon.pivot_table(values="AnzBestWir", index="HerkunftLang", columns="SexLang", aggfunc=sum, margins=True)

SexLang       männlich  weiblich     All
HerkunftLang
Ausländer/in     74477     64956  139433
Schweizer/in    142731    151870  294601
All             217208    216826  434034

In [9]:
data_mon.pivot_table(values="AnzBestWir", index=["KreisLang", "QuarLang"], columns=["HerkunftLang", "SexLang"], aggfunc=sum, margins=True)

HerkunftLang                   Ausländer/in          Schweizer/in            \
SexLang                            männlich weiblich     männlich  weiblich
KreisLang QuarLang
Kreis 1   City                        147.0    123.0        278.0     243.0
          Hochschulen                 108.0    101.0        223.0     241.0
          Lindenhof                   156.0    136.0        351.0     353.0
          Rathaus                     575.0    416.0       1216.0    1073.0
Kreis 10  Höngg                      3374.0   2800.0       8659.0    9551.0
          Wipkingen                  2369.0   2114.0       5737.0    6262.0
Kreis 11  Affoltern                  4501.0   4073.0       8660.0    9228.0
          Oerlikon                   4799.0   4099.0       7074.0    7222.0
          Seebach                    5513.0   4593.0       7868.0    7843.0
Kreis 12  Hirzenbach                 2457.0   2246.0       4008.0    4479.0
          Saatlen                    1252.0   1186.0       3069.0    3322.0
          Schwamendingen-Mitte       2558.0   2225.0       3054.0    3364.0
Kreis 2   Enge                       1884.0   1731.0       2950.0    3129.0
          Leimbach                   1043.0    975.0       1989.0    2108.0
          Wollishofen                2923.0   2830.0       6368.0    7324.0
Kreis 3   Alt-Wiedikon               3327.0   2794.0       5851.0    5888.0
          Friesenberg                1064.0   1004.0       4314.0    4765.0
          Sihlfeld                   3724.0   3142.0       7222.0    8034.0
Kreis 4   Hard                       2482.0   2158.0       4118.0    4234.0
          Langstrasse                2699.0   1786.0       4075.0    3292.0
          Werd                        842.0    669.0       1514.0    1494.0
Kreis 5   Escher Wyss                1121.0    917.0       2256.0    1871.0
          Gewerbeschule              1769.0   1270.0       3445.0    3044.0
Kreis 6   Oberstrass                 1671.0   1567.0       3613.0    3989.0
          Unterstrass                3487.0   3149.0       8337.0    9111.0
Kreis 7   Fluntern                   1308.0   1310.0       2808.0    3202.0
          Hirslanden                  981.0   1000.0       2488.0    2977.0
          Hottingen                  1712.0   1656.0       3804.0    4211.0
          Witikon                    1469.0   1477.0       3639.0    4500.0
Kreis 8   Mühlebach                  1124.0   1133.0       1904.0    2189.0
          Seefeld                    1113.0   1111.0       1466.0    1704.0
          Weinegg                     972.0    844.0       1686.0    1951.0
Kreis 9   Albisrieden                3206.0   2755.0       7898.0    8593.0
          Altstetten                 6747.0   5565.0      10789.0   11078.0
Unbekannt Unbekannt                     NaN      1.0          NaN       1.0
All                                 74477.0  64956.0     142731.0  151870.0

HerkunftLang                       All
SexLang
KreisLang QuarLang
Kreis 1   City                     791
          Hochschulen              673
          Lindenhof                996
          Rathaus                 3280
Kreis 10  Höngg                  24384
          Wipkingen              16482
Kreis 11  Affoltern              26462
          Oerlikon               23194
          Seebach                25817
Kreis 12  Hirzenbach             13190
          Saatlen                 8829
          Schwamendingen-Mitte   11201
Kreis 2   Enge                    9694
          Leimbach                6115
          Wollishofen            19445
Kreis 3   Alt-Wiedikon           17860
          Friesenberg            11147
          Sihlfeld               22122
Kreis 4   Hard                   12992
          Langstrasse            11852
          Werd                    4519
Kreis 5   Escher Wyss             6165
          Gewerbeschule           9528
Kreis 6   Oberstrass             10840
          Unterstrass            24084
Kreis 7   Fluntern                8628
          Hirslanden              7446
          Hottingen              11383
          Witikon                11085
Kreis 8   Mühlebach               6350
          Seefeld                 5394
          Weinegg                 5453
Kreis 9   Albisrieden            22452
          Altstetten             34179
Unbekannt Unbekannt                  2
All                             434034

In [10]:
data_mon.pivot_table(values="AnzBestWir", index="AlterV20Kurz", columns="SexLang", aggfunc=sum, margins=True)

SexLang       männlich  weiblich     All
AlterV20Kurz
0-19             38077     35991   74068
20-39            82970     79279  162249
40-59            61459     55815  117274
60-79            27747     32430   60177
80 u. älter       6955     13311   20266
All             217208    216826  434034

In [11]:
# Use index to select easier with loc
newdata = dataset.reset_index()
newdata = dataset.set_index(["StichtagDatJahr", "StichtagDatMM"]).sort_index()
# this results in an hierarchical index
data_june_2003 = newdata.loc[2003, 6]
#print(data_june_2003.head())
# slicing is possible too by limiting from the first tupel to the last one
# and separated with a comma, columns can be selected (and sliced) too
data_10_years = newdata.loc[(1998, 1):(2018, 12), ["SexLang", "AlterV20Kurz", "HerkunftLang", "QuarLang", "AnzBestWir"]]
print(data_10_years)

                                SexLang AlterV20Kurz  HerkunftLang  \
StichtagDatJahr StichtagDatMM
1998            1              männlich         0-19  Schweizer/in
                1              männlich         0-19  Schweizer/in
                1              männlich         0-19  Schweizer/in
                1              männlich         0-19  Schweizer/in
                1              männlich         0-19  Schweizer/in
...                                 ...          ...           ...
2018            12             weiblich  80 u. älter  Ausländer/in
                12             weiblich  80 u. älter  Ausländer/in
                12             weiblich  80 u. älter  Ausländer/in
                12             weiblich  80 u. älter  Ausländer/in
                12             weiblich  80 u. älter  Ausländer/in

                                           QuarLang  AnzBestWir
StichtagDatJahr StichtagDatMM
1998            1                           Rathaus         114
                1                       Hochschulen          24
                1                         Lindenhof          37
                1                              City          48
                1                       Wollishofen         950
...                                             ...         ...
2018            12                         Oerlikon          59
                12                          Seebach          73
                12                          Saatlen          14
                12             Schwamendingen-Mitte          41
                12                       Hirzenbach          54

[170790 rows x 5 columns]